<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users - Blogs</title>
</head>
<body>
<table table table-bordered>
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <th:block th:each="user : ${listUsers}">
            <tr>
                <td>
                    ${User.id}
                </td>

            </tr>

        </th:block>

    </tbody>

</table>


</body>
</html>